<!DOCTYPE html>
<html>
<head>
	<title>Django Tutorial</title>
</head>
<body>
	<a href="#"><h1>Django Tutorial</h1></a>
	<p>published: 01-01-2019, 18:48pm</p>
	<div>
		<a href="#"><h1>My First Post</h1></a>
		<p>Loresmdcbdiv jk jsdj jidsbsjdkcn   hebhebcjk kk
		kjfbckjd lcndl dsjcndkj </p>
		<p>published:01-01-2019, 18:49pm</p>	
	</div>
	<div>
		<a href="#"><h1>My Second Post</h1></a>
		<p>Loresmdcbdiv jk jsdj jidsbsjdkcn   hebhebcjk kk
		kjfbckjd lcndl dsjcndkj </p>
		<p>published:01-01-2019, 18:50pm</p>	
	</div>
</body>
</html>